<div class="single-feature-container">

    {{# if object}}
    <div class="feature-header"><a data-action="editItem" data-item-id="{{object._id}}">{{label}}</a></div>
    <div class="feature-name tooltip-hover" data-tooltip-html="{{{itemTooltipHTML object}}}">{{object.name}}</div>
    {{else}}
    <div class="feature-header">{{label}}</div>
    <div class="feature-name">Drag'N'Drop</div>
    {{/if}}
</div>