<section class="tab {{tabs.biography.id}} {{tabs.biography.cssClass}} scrollable" id="general"
    data-tab="{{tabs.biography.id}}" data-group="{{tabs.biography.group}}">
    <div class="grid-col-span-12 resource-group">
        <div class="description">
            {{#if editable}}
            <prose-mirror name="system.biography" button="true" editable="{{editable}}" toggled="false"
                value="{{system.biography}}">
                {{{biographyHTML}}}
            </prose-mirror>
            {{else}}
            {{{biographyHTML}}}
            {{/if}}
        </div>
    </div>
</section>