{{#if properties.automatic}}
    <span class="weapon-property tooltip-hover" data-tooltip-html="{{ localize (concat "SHADOWCITY.WeaponProperties.automatic") }}">
        A
    </span>
{{/if}}
{{#if properties.cloud}}
    <span class="weapon-property tooltip-hover" data-tooltip-html="{{ localize (concat "SHADOWCITY.WeaponProperties.cloud") }}">
        Cloud
    </span>
{{/if}}
{{#if properties.concealed}}
    <span class="weapon-property tooltip-hover" data-tooltip-html="{{ localize (concat "SHADOWCITY.WeaponProperties.concealed") }}">
        Concealed
    </span>
{{/if}}
{{#if properties.concussion}}
    <span class="weapon-property tooltip-hover" data-tooltip-html="{{ localize (concat "SHADOWCITY.WeaponProperties.concussion") }}">
        C
    </span>
{{/if}}
{{#if properties.flame}}
    <span class="weapon-property tooltip-hover" data-tooltip-html="{{ localize (concat "SHADOWCITY.WeaponProperties.flame") }}">
        F
    </span>
{{/if}}
{{#if properties.heavy}}
    <span class="weapon-property tooltip-hover" data-tooltip-html="{{ localize (concat "SHADOWCITY.WeaponProperties.heavy") }}">
        HV
    </span>
{{/if}}
{{#if properties.scope}}
    <span class="weapon-property tooltip-hover" data-tooltip-html="{{ localize (concat "SHADOWCITY.WeaponProperties.scope") }}">
        SC
    </span>
{{/if}}
{{#if properties.splash}}
    <span class="weapon-property tooltip-hover" data-tooltip-html="{{ localize (concat "SHADOWCITY.WeaponProperties.splash") }}">
        S
    </span>
{{/if}}
{{#if properties.subdual}}
    <span class="weapon-property tooltip-hover" data-tooltip-html="{{ localize (concat "SHADOWCITY.WeaponProperties.subdual") }}">
        Subdual
    </span>
{{/if}}
{{#if properties.suppressing}}
    <span class="weapon-property tooltip-hover" data-tooltip-html="{{ localize (concat "SHADOWCITY.WeaponProperties.suppressing") }}">
        SP
    </span>
{{/if}}
{{#if properties.twohanded}}
    <span class="weapon-property tooltip-hover" data-tooltip-html="{{ localize (concat "SHADOWCITY.WeaponProperties.twohanded") }}">
        2H
    </span>
{{/if}}