<div class="{{cssClass}}" autocomplete="off">
    <div class="grid grid-3col">
        <div>
            <label>Num. Attacks</label>
            <input type="number" name="system.numAttacks" value="{{system.numAttacks}}" data-dtype="Number" />
        </div>
        <div>
            <label>Damage Formula</label>
            <input type="text" name="system.damage" value="{{system.damage}}" data-dtype="String" />
        </div>
        <div>
            <label>Attack Bonus</label>
            <input type="number" name="system.attackBonus" value="{{system.attackBonus}}" data-dtype="Number" />
        </div>
        <div>
            <label>Critical Multiplier</label>
            <input type="number" name="system.criticalMultiplier" value="{{system.criticalMultiplier}}"
                data-dtype="Number" />
        </div>
        <div>
            <label>Special</label>
            <input type="text" name="system.special" value="{{system.special}}" data-dtype="String" />
        </div>
        <div>
            <label>Range</label>
            <input type="text" name="system.range" value="{{system.range}}" data-dtype="String" />
        </div>
    </div>
</div>