<div class="{{cssClass}}" autocomplete="off">
    <div class="grid grid-6col">
        <div>
            <label>Quantity</label>
            <input type="number" name="system.quantity" value="{{system.quantity}}" />
        </div>
        <div>
            <label>Price</label>
            <input type="number" name="system.purchasePrice" value="{{system.purchasePrice}}" />
        </div>
        <div>
            <label>Damage</label>
            <input type="text" name="system.damage" value="{{system.damage}}" />
        </div>
        <div>
            <label>Range</label>
            {{> "systems/shadowcity-blood-neon-vtt/templates/shared/ranged-select-dropdown.hbs" name="system.range" value=system.range}}
        </div>
        <div>
            <label>Ability</label>
            {{> "systems/shadowcity-blood-neon-vtt/templates/shared/ability-select-dropdown.hbs" name="system.ability" value=system.ability}}
        </div>
        <div>
            <label>Ammunition</label>
            <div class="flexrow">
                <input type="text" name="system.ammo.value" value="{{system.ammo.value}}" />
                <span> / </span>
                <input type="text" name="system.ammo.max" value="{{system.ammo.max}}" />
            </div>
        </div>
         <div>
            <label>Illegal</label>
            <input type="checkbox" {{#if item.system.illegal}} checked{{/if}}
                    name="system.illegal">
        </div>
    </div>
    <fieldset>
        <legend>Properties</legend>
        <ul class="grid grid-3col properties-list">
            <li><input type="checkbox" {{#if item.system.properties.automatic}} checked{{/if}}
                    name="system.properties.automatic">Automatic</li>
            <li><input type="checkbox" {{#if item.system.properties.cloud}} checked{{/if}}
                    name="system.properties.cloud">cloud</li>
            <li><input type="checkbox" {{#if item.system.properties.concealed}} checked{{/if}}
                    name="system.properties.concealed">concealed</li>
            <li><input type="checkbox" {{#if item.system.properties.concussion}} checked{{/if}}
                    name="system.properties.concussion">concussion</li>
            <li><input type="checkbox" {{#if item.system.properties.flame}} checked{{/if}}
                    name="system.properties.flame">flame</li>
            <li><input type="checkbox" {{#if item.system.properties.heavy}} checked{{/if}}
                    name="system.properties.heavy">heavy</li>
            <li><input type="checkbox" {{#if item.system.properties.scope}} checked{{/if}}
                    name="system.properties.scope">scope</li>
            <li><input type="checkbox" {{#if item.system.properties.splash}} checked{{/if}}
                    name="system.properties.splash">splash</li>
            <li><input type="checkbox" {{#if item.system.properties.subdual}} checked{{/if}}
                    name="system.properties.subdual">subdual</li>
            <li><input type="checkbox" {{#if item.system.properties.suppressing}} checked{{/if}}
                    name="system.properties.suppressing">suppressing</li>
            <li><input type="checkbox" {{#if item.system.properties.twohanded}} checked{{/if}}
                    name="system.properties.twohanded">two-handed</li>
        </ul>
    </fieldset>
</div>