<div class="{{cssClass}}" autocomplete="off">
  <div class="grid grid-3col">
    <div>
      <label>Type</label>
      <input type="text" name="system.armorType" value="{{system.armorType}}" data-dtype="String"/>
    </div>
    <div>
      <label>Gear Slots</label>
      <input type="text" name="system.gearSlots" value="{{system.gearSlots}}" data-dtype="Number"/>
    </div>
    
    <div>
      <label>Price</label>
      <input type="number" name="system.purchasePrice" value="{{system.purchasePrice}}" />
    </div>
    <div>
      <label>Defense</label>
      <input type="number" name="system.defense" value="{{system.defense}}" data-dtype="Number"/>
    </div>
    <div class="grid-span-2">
      <label>Properties</label>
      <input type="text" name="system.properties" value="{{system.properties}}" />
    </div>
  </div>

</div>